@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#__nuxt,
.app {
  height: 100%;
}

.floating-window {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 32px 16px;

  &.animate__fadeInUp {
    --animate-duration: 0.4s;
  }

  strong {
    display: block;
    font-size: small;

    &.title {
      font-size: large;
      font-family: 'Cabin', sans-serif;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  p,
  ul {
    font-size: small;
  }

  ul {
    margin: 20px 0;
    padding-left: 24px;
  }

  a {
    text-decoration: underline;
  }

  hr {
    width: 96%;
    margin: 20px auto;
    border-top: 1px solid lightgray;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  button {
    padding-right: 28px;
    padding-left: 28px;
    height: 36px;
    border: 0;
    border-radius: 18px;
    font-weight: bold;
    background-color: #e9e9e9;
    color: #000000;
  }
}
