@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#__nuxt,
.app {
  height: 100%;
}

a,
button,
.button {
  cursor: pointer;
}

.floating-window {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 32px 16px;

  &.animate__fadeInUp {
    --animate-duration: 0.4s;
  }

  strong {
    display: block;
    font-size: small;

    &.title {
      font-size: large;
      font-family: 'Cabin', sans-serif;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  p,
  ul {
    font-size: small;
  }

  ul {
    margin: 20px 0;
    padding-left: 24px;
  }

  a {
    text-decoration: underline;
  }

  hr {
    width: 96%;
    margin: 20px auto;
    border-top: 1px solid lightgray;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  button {
    padding-right: 28px;
    padding-left: 28px;
    height: 36px;
    border: 0;
    border-radius: 18px;
    font-weight: bold;
    background-color: #e9e9e9;
    color: #000000;
  }
}

.tile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  border: 2px solid lightgray;

  .char {
    text-align: center;
    font-weight: bold;
    font-size: medium;
  }

  &.unused {
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    color: white;
  }

  &.correct {
    color: white;
    background-color: #6aaa64;
    border-color: #6aaa64;
  }

  &.present {
    color: white;
    background-color: #c9b458;
    border-color: #c9b458;

    &.vowel {
      background: linear-gradient(
        135deg,
        #c9b458 0%,
        #c9b458 50%,
        #6aaa64 50%,
        #6aaa64 100%
      );
      border-color: #c9b458 #6aaa64 #6aaa64 #c9b458;
    }

    &.consonant {
      background: linear-gradient(
        135deg,
        #6aaa64 0%,
        #6aaa64 50%,
        #c9b458 50%,
        #c9b458 1000%
      );
      border-color: #6aaa64 #c9b458 #c9b458 #6aaa64;
    }
  }

  &.absent {
    color: white;
    background-color: #86888a;
    border-color: #86888a;

    &.vowel {
      background: linear-gradient(
        135deg,
        #86888a 0%,
        #86888a 50%,
        #6aaa64 50%,
        #6aaa64 100%
      );
      border-color: #86888a #6aaa64 #6aaa64 #86888a;
    }

    &.consonant {
      background: linear-gradient(
        135deg,
        #6aaa64 0%,
        #6aaa64 50%,
        #86888a 50%,
        #86888a 100%
      );
      border-color: #6aaa64 #86888a #86888a #6aaa64;
    }
  }
}
